extend layout 

block content 
    .section.post-section.pt-5
        .container
            .row.justify-content-center
                .col-lg-8.text-center
                    i.fa.fa-calendar.fa-2x
                    span.d-block.text-center Date of Event
                    span.date.d-block.text-center.small.text-uppercase.text-black-50.mb-4 #{view.formatDate(_case.event_date)}
                    h2.heading.mb-3.text-center #{_case.title}

                    - const photo = _case.media.length ? _case.media[0].media_url : 'images/police-brutality-md.jpg'
                    img.img-fluid.rounded.mb-4(src=`/${photo}` alt='Image')
                    p.text-start(style="white-space: pre-wrap") #{_case.description}

                    if _case.news_link
                        p #[strong News link:] 
                            a(href=`${_case.news_link}` target="_blank")= _case.news_link

                    //- .row.mt-5.pt-5.border-top.text-start
                    //-     .col-12
                    //-         span.fw-bold.text-black.small.mb-1 Share
                    //-         ul.social.list-unstyled
                    //-             li
                    //-                 a(href='#')
                    //-                     i.fa.fa-facebook
                    //-             li
                    //-                 a(href='#')
                    //-                     i.fa.fa-twitter
