extend layout

block styleBlock
    style.
        .votes {
            text-align: right
        }

block content 
    .section.pt-5.pb-5
        .container
            .row.justify-content-center.mb-5
                .col-lg-7.text-center
                    h4.heading.mb-5(style='color: #3cb371') 2023 Enugu State Gubernatorial Election

            .row.justify-content-center.mb-5
                .col-lg-7
                    table.table
                        head 
                            tr 
                                th(style="width: 19%") Party
                                th(style="width: 65%") Percentage 
                                th.votes Votes 
                        body 
                            tr 
                                td APC 
                                td 
                                    .progress 
                                        .progress-bar.bg-danger(role="progressbar" style=`width: ${result[0].apc.percentage}%` aria-valuenow="0" aria-valuemin="0" aria-valuemax="100") #{result[0].apc.percentage}%
                                td.votes #{result[0].apc.votes}
                            tr 
                                td APGA
                                td 
                                    .progress 
                                        .progress-bar.bg-warning(role="progressbar" style=`width: ${result[1].apga.percentage}%` aria-valuenow="0" aria-valuemin="0" aria-valuemax="100") #{result[1].apga.percentage}%
                                td.votes #{result[1].apga.votes}
                            tr 
                                td LP 
                                td 
                                    .progress 
                                        .progress-bar.bg-success(role="progressbar" style=`width: ${result[2].lp.percentage}%` aria-valuenow="0" aria-valuemin="0" aria-valuemax="100") #{result[2].lp.percentage}%
                                td.votes #{result[2].lp.votes}
                            tr 
                                td PDP 
                                td 
                                    .progress 
                                        .progress-bar.bg-info(role="progressbar" style=`width: ${result[3].pdp.percentage}%` aria-valuenow="0" aria-valuemin="0" aria-valuemax="100") #{result[3].pdp.percentage}%
                                td.votes #{result[3].pdp.votes}
                            tr 
                                td OTHERS
                                td 
                                    .progress 
                                        .progress-bar(role="progressbar" style=`width: ${result[4].others.percentage}%` aria-valuenow="0" aria-valuemin="0" aria-valuemax="100") #{result[4].others.percentage}%
                                td.votes #{result[4].others.votes}

