extend layout

block content 
    .section.pt-5.pb-5
        .container
            .row.justify-content-center.mb-5
                .col-lg-7.text-center
                    h2.heading Active Cases
            .row
                .col-lg-12
                    .posts-slide-wrap
                        #posts-slide.posts-slide
                            each _case in cases
                                - const url_path = _case.title.split(' ').join('-')
                                .item
                                    .post-entry.d-lg-flex
                                        .me-lg-5.thumbnail.mb-4.mb-lg-0
                                            a(href=`/cases/${_case.id}/${url_path}`)
                                                img.img-fluid(src='images/xpost_lg_2.jpg.pagespeed.ic.t0aph6N0mC.webp' alt='Image' data-pagespeed-url-hash='1399666466' onload='pagespeed.CriticalImages.checkImageForCriticality(this);')
                                        .content.align-self-center
                                            .post-meta.mb-3
                                                a.category(href='#')= _case.Agency.abbr
                                                | , 
                                                a.category(href='#')= _case.CaseCategory.name
                                                |  &mdash;
                                                span.date= view.formatDate(_case.createdAt)
                                            h2.heading
                                                a(href=`/cases/${_case.id}/${url_path}`)= _case.title
                                            p= view.postIntro(_case.description, 600)
                                            a.post-author.d-flex.align-items-center(href='#')
                                                .author-pic
                                                    i.fa.fa-calendar.fa-2x
                                                .text
                                                    strong Posted On:
                                                    span= view.formatDate(_case.createdAt)

    .sector.my-5
        .container 
            .row.justify-content-center
                .col-lg-9
                    h2.mb-4 #[strong Recent Cases]

                    each recent in recentCases
                        - const url_path = recent.title.split(' ').join('-')
                        .post-entry.d-md-flex.small-horizontal.mb-5
                            .me-md-5.thumbnail.mb-3.mb-md-0
                                img.img-fluid(src='/images/ximg_2.jpg.pagespeed.ic.fbbBEgB1Q6.webp' alt='Image' data-pagespeed-url-hash='3151298507' onload='pagespeed.CriticalImages.checkImageForCriticality(this);')
                            .content
                                .post-meta.mb-3
                                    a.category(href='#')= recent.Agency.abbr
                                    | , 
                                    a.category(href='#')= recent.CaseCategory.name
                                    |  &mdash;
                                    span.date July 2, 2020
                                h2.heading
                                    a(href=`/cases/${recent.id}/${url_path}`)= recent.title
                                p= view.postIntro(recent.description, 200)
                                a.post-author.d-flex.align-items-center(href='#')
                                    .author-pic
                                        i.fa.fa-calendar.fa-2x
                                    .text
                                        strong Posted On:
                                        span= view.formatDate(recent.createdAt)


    //- .section
    //-     .container
    //-         .row.g-5
    //-             .col-lg-4
    //-                 .post-entry.d-block.small-post-entry-v
    //-                     .thumbnail
    //-                         a(href='single.html')
    //-                             img.img-fluid(src='images/ximg_2.jpg.pagespeed.ic.fbbBEgB1Q6.webp' alt='Image' data-pagespeed-url-hash='3151298507' onload='pagespeed.CriticalImages.checkImageForCriticality(this);')
    //-                     .content
    //-                         .post-meta.mb-1
    //-                             a.category(href='#') Business
    //-                             | , 
    //-                             a.category(href='#') Travel
    //-                             |  &mdash;
    //-                             span.date July 2, 2020
    //-                         h2.heading.mb-3
    //-                             a(href='single.html') Your most unhappy customers are your greatest source of learning.
    //-                         p
    //-                             | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    //-                         a.post-author.d-flex.align-items-center(href='#')
    //-                             .author-pic
    //-                                 img(src='images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp' alt='Image' data-pagespeed-url-hash='1813383360' onload='pagespeed.CriticalImages.checkImageForCriticality(this);')
    //-                             .text
    //-                                 strong Sergy Campbell
    //-                                 span CEO and Founder