extend layout 

block styleBlock
    style.
        .pu {
            text-align: left;
        }
        td, th { text-align: right }

block content 
    .container 
        .mb-3  
            form(method="get" action="/pu/results")
                .row
                    .col-md-5
                        label Local Governments
                        select.form-control#lg-id(name="lg_id" required)
                            option(value="")| -- Select Local govt --
                                each lg in lgs
                                    option(value=`${lg.id}`)= lg.name
                    .col-md-5
                        label Wards
                        select.form-control#ward-id(name="ward_id" required)
                            option(value="")| -- Select Ward --
                    .col-md-2.d-grid 
                        br/
                        input.btn.btn-success(type="submit" value="View Result")
        .row 
            .col-md-6 
            .col-md-6.text-end 
                strong Total Accredited Votes: 
                | #{puResults.total_accredited_voters}
                br/ 
                strong Total Valid Votes: 
                | #{puResults.total_valid_votes}
        .row.mt-1
            .col 
                table.table.table-striped.table-sm
                    thead 
                        tr 
                            th.pu Polling Units 
                            th APC 
                            th APGA 
                            th LP
                            th PDP 
                            th Others 
                            th Result
                            th Action 
                    tbody 
                        each pu in puResults
                            tr 
                                td.pu= pu.name
                                td= pu.vote.apc
                                td= pu.vote.apga
                                td= pu.vote.lp 
                                td= pu.vote.pdp
                                td 
                                td
                                    a.result(href='' data-bs-toggle="modal" data-bs-target="#resultModal" data-result=`/${pu.result_sheet}`) View
                                td

                    tfoot
                        tr 
                            td.pu TOTAL
                            td= puResults.parties.apc
                            td= puResults.parties.apga
                            td= puResults.parties.lp
                            td= puResults.parties.pdp
                            td 684
                            td 
                            td

    #resultModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    h5#staticBackdropLabel.modal-title Inec Result Form
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    img#result-image(alt="result file" style="width: 100%")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close

block scriptBlock
    script.

        const lgOpt = document.getElementById("lg-id");
        lgOpt.addEventListener('change', (e) => {
            const lg_id = e.target.options[e.target.options.selectedIndex].value;

            fetch(`/ward/fetch-wards?lg_id=${lg_id}`)
                .then((data) => data.json())
                .then(d => {
                    let opts = '<option value="">-- Select ward --</option>';
                    if (d.status.trim() == 'true') {
                        d.data.forEach(ward => {
                            opts += `<option value='${ward.id}'>${ward.name}</option>`;
                        });
                        document.getElementById("ward-id").innerHTML = opts;
                    }
                });
        });

        let image;

        const results = document.getElementsByClassName("result");
        for (let i = 0; i < results.length; i++) {
            results[i].addEventListener("click", function() {
                image = this.dataset.result;
                document.getElementById("result-image").src = image;
            });
        }
