extend layout

block content 
    .container 
        .row 
            .col
                button.btn.btn-secondary.float-end(data-bs-toggle="modal" data-bs-target="#signupModal") Add User 
        .row.mt-1
            .col 
                h3 Users
                table.table.table-striped 
                    thead 
                        tr 
                            th Date Added 
                            th Username 
                            th Agent  
                            th Action
                    tbody 
                        each user in users 
                            tr 
                                td= view.formatDate(user.createdAt)
                                td= user.username 
                                td= user.role 
                                td


    #signupModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#staticBackdropLabel.modal-title Create User
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                form(method="post" action="/users/create")
                    .modal-body
                        //- .mb-3
                        //-     input.form-control(type="text" name="fullname" placeholder="Full name" aria-label="Full name" required=true)
                        .mb-3
                            //- input.form-control(type="email" name="email" placeholder="Email" aria-label="Email" required=true)
                            input.form-control(type="text" name="username" placeholder="Username" aria-label="Username" required=true)
                        .mb-3
                            select.form-control(name="role")
                                option(value="") -- Select Role --
                                option(value="lg") Local Govt Agent
                                option(value="ward") Ward Agent 
                                option(value="pu") Polling Unit Agent
                        .mb-3.row
                            .col-6 
                                select.form-control(name="lg_id")
                                    option(value="")| -- Select Local Govt --
                                    each lg in lgs 
                                        option(value=`${lg.id}`)= lg.name
                            .col-6
                                select.form-control(name="ward_id")
                                    option(value="")| -- Select ward --
                                    each ward in wards 
                                        option(value=`${ward.id}`)= ward.name
                        .mb-3 
                            input.form-control(type="password" name="password" placeholder="Password" required=true)
                        .mb-3 
                            input.form-control(type="password" placeholder="Confirm Password" required=true)
                    .modal-footer
                        button.btn.btn-secondary(type='submit') Create User